<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="form-group">
                <input type="text" name="name" [(ngModel)]="author.name" placeholder="Nombre" class="form-control" autofocus required>
              </div>
              <div class="form-group">
                  <input type="text" name="lastName" [(ngModel)]="author.lastName" placeholder="Apellido" class="form-control" required>
              </div>
              <div class='input-group date' id='datetimepicker1'>
                  <input type='date' name="birthdate" class="form-control" [(ngModel)]="birthdateFormat" required>
              </div>
              <button class="btn btn-success btn-block" (click)="edit ? updateInfo() : saveInfo()">Agregar</button>
            </form>
          </div>
        </div>
      </div>
</div>
