<div class="float-right p-2">
    <a routerLink="/category/add" class="btn btn-info btn-md">
        <i class="fas fa-plus-circle"></i>
    </a>
</div>

<div class="container-fluid p-2">
  <table class="table table-bordered table-striped text-center">
    <thead>
        <tr>
            <th class="text-center">Nombre</th>
            <th class="text-center">Descripcion</th>
            <th class="text-center"></th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody *ngFor="let category of categories">
        <tr>
            <td class="text-center">{{category.name}}</td>
            <td class="text-center">{{category.description}}</td>
            <td class="text-center">
              <a class="btn btn-info" [routerLink]="['/category/edit',category.idCategory]">
                Editar
              </a>
            </td>
            <td class="text-center">
              <button class="btn btn-danger" (click)="deleteCategory(category.idCategory)">
                Eliminar
              </button>
            </td>
        </tr>
    </tbody>
  </table>
</div>

