<div class="float-right p-2">
    <a routerLink="/book/add" class="btn btn-info btn-md">
        <i class="fas fa-plus-circle"></i>
    </a>
</div>

<div class="container-fluid p-2">
  <table class="table table-bordered table-striped text-center">
    <thead>
        <tr>
            <th class="text-center">Nombre</th>
            <th class="text-center">Autor</th>
            <th class="text-center">Categoria</th>
            <th class="text-center">ISBN</th>
            <th class="text-center"></th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody *ngFor="let book of books">
        <tr>
            <td class="text-center">{{book.name}}</td>
            <td class="text-center">{{book.author.name}} {{book.author.lastName}}</td>
            <td class="text-center">{{book.category.name}}</td>
            <td class="text-center">{{book.isbn}}</td>
            <td class="text-center">
              <a class="btn btn-info" [routerLink]="['/book/edit',book.idBook]">
                Editar
              </a>
            </td>
            <td class="text-center">
              <button class="btn btn-danger" (click)="deleteBook(book.idBook)">
                Eliminar
              </button>
            </td>
        </tr>
    </tbody>
  </table>
</div>
