<div class="float-right p-2">
    <a routerLink="/author/add" class="btn btn-info btn-md">
        <i class="fas fa-plus-circle"></i>
    </a>
</div>

<div class="container-fluid p-2">
  <table class="table table-bordered table-striped text-center">
    <thead>
        <tr>
            <th class="text-center">Nombre</th>
            <th class="text-center">Apellido</th>
            <th class="text-center">Fecha de nacimiento</th>
            <th class="text-center"></th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody *ngFor="let author of authors">
        <tr>
            <td class="text-center">{{author.name}}</td>
            <td class="text-center">{{author.lastName}}</td>
            <td class="text-center">{{author.birthdate | date: 'dd/MM/yyyy'}}</td>
            <td class="text-center">
              <a class="btn btn-info" [routerLink]="['/author/edit',author.idAuthor]">
                Editar
              </a>
            </td>
            <td class="text-center">
              <button class="btn btn-danger" (click)="deleteAuthor(author.idAuthor)">
                Eliminar
              </button>
            </td>
        </tr>
    </tbody>
  </table>
</div>
